
{% load static %}

<!doctype html>
<!--
	Photogenic by FreeHTML5.co
	URL: https://freehtml5.co
-->
<html lang="en">

<head>
    <!-- Required meta tags -->     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">          
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- owl carousel css-->        
    <link rel="stylesheet" href="static/owl-carousel/assets/owl.carousel.min.css" type="text/css">

    <!-- Bootstrap CSS -->      
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">

    <title>JishinRajPhotography</title>
</head>

<body>

    <div id="fh5co-hero-carousel" class="carousel slide header" data-ride="carousel" data-interval="2000">
        <nav class="navbar fixed-top navbar-expand-xl">
            <div class="container"> 
                <a class="navbar-brand mobile-logo" href="#"><img src="{% static 'images/logo.png' %}" alt="Vista Pro" /></a>
                <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse">
                    <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>

                <div id="my-nav" class="collapse navbar-collapse">

                    <div>
                        <p class="text-left follow">Follow Us:</p>
                        <ul class="navbar-nav float-left social-links">
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/jishinn.raj"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/jr_fotographyy/"><i class="fab fa-instagram"></i></a>
                            </li>
                            
                        </ul>
                    </div>

                    <ul class="navbar-nav mx-auto logo-desktop">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><img src="{% static 'images/logo.png' %}" alt="Vista Pro" /></a>
                        </li>
                    </ul>

                    <ul class="navbar-nav float-right menu-links">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about-us">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#news">News</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="carousel-inner">
            <div class="carousel-item active">

                <img class="d-block w-100 home-bg" alt="home-bg" src="{% static 'images/home-bg.jpg' %}">

                <div class="carousel-caption d-md-block">
                    <p class="frst-hrd">Hello I am Jishin</p>
                    <h4>Live fast Die Young!!</h4>
                    <p>--------name of the place--------</p>

                </div>


            </div>
            <div class="carousel-item"> 
                <img class="d-block w-100 home-bg" alt="home-bg" src="{% static 'images/img (7).jpg' %}">

                <div class="carousel-caption d-md-block">
                    <p class="frst-hrd">Hello I am Jishin</p>
                    <h4>Creativity is an Art</h4>
                    <p>-----name of place-----</p>

                </div>
            </div>
            <div class="carousel-item"> 
                <img class="d-block w-100 home-bg" alt="home-bg" src="{% static 'images/img (15).jpg' %}">

                <div class="carousel-caption d-none d-md-block">
                    <p class="frst-hrd">Hello I am Jishin</p>
                    <h4>Travel the places to hear your hidden voices</h4>
                    <p>-- name of place ---</p>

                </div>
            </div>
            <!--carousel control strat-->  
            <a href="#fh5co-hero-carousel" class= "carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

            <a href="#fh5co-hero-carousel" class= "carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <!--carousel control end-->
            <div class="scroll-button"> 
                <p>Scroll down to see more...</p>   
                <a href="#about-us" class="page-scroll">    
                    <img src="{% static 'images/arrows-down.png' %}" alt="arrow down" />
                </a>

            </div>
        </div>
        <ul class="carousel-indicators">
            <li class="active" data-target="#fh5co-hero-carousel" data-slide-to="0" aria-current="location"></li>
            <li data-target="#fh5co-hero-carousel" data-slide-to="1"></li>
            <li data-target="#fh5co-hero-carousel" data-slide-to="2"></li>
        </ul>
    </div>


    <div class="container-fluid fh5co-about-us" id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                    <svg class="back-bg" viewBox="0 0 535 618">
                        <defs>
                            <linearGradient id="PSgrad_0" x1="0%" x2="100%" y1="0%" y2="0%">
                                <stop offset="0%" stop-color="rgb(88,192,255)" stop-opacity="1" />
                                <stop offset="100%" stop-color="rgb(18,112,228)" stop-opacity="1" />
                            </linearGradient>

                        </defs>
                        <path fill-rule="evenodd" fill="rgb(18, 112, 228)"
                            d="M6.000,-0.000 L499.000,-0.000 C502.314,-0.000 505.000,2.686 505.000,6.000 L505.000,612.000 C505.000,615.314 502.314,618.000 499.000,618.000 L6.000,618.000 C2.686,618.000 -0.000,615.314 -0.000,612.000 L-0.000,6.000 C-0.000,2.686 2.686,-0.000 6.000,-0.000 Z" />
                        <path fill="url(#PSgrad_0)"
                            d="M6.000,-0.000 L499.000,-0.000 C502.314,-0.000 505.000,2.686 505.000,6.000 L505.000,612.000 C505.000,615.314 502.314,618.000 499.000,618.000 L6.000,618.000 C2.686,618.000 -0.000,615.314 -0.000,612.000 L-0.000,6.000 C-0.000,2.686 2.686,-0.000 6.000,-0.000 Z" />
                    </svg>

                    <div class="owl-carousel owl-carousel1 owl-theme">
                        <div>       
                            <img src="{% static 'images/slide-2.jpg' %}" alt="" class="img-fluid" /> 
                        </div>      
                        <div>   
                            <img src="{% static 'images/slide-3.jpg' %}" alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="about-us-content">
                        <h2>ABOUT ME</h2>
                        <p>I am Jishin Raj an Indian, 3D visualiser in profession,living in Dubai, United Arab Emirates.Photography is my passion.About photography,my thoughts are it is the way of capturing moments,the moment you capture remain forever,longafter you have forgotten everything.I love to travel and explore new places.Places i have been through Armenia,Georgia,Malaysia and few states from India.</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid fh5co-portfolio" id="portfolio">
        <div class="container">
            <h2>PORTFOLIO</h2>
            <p>Photoes from name of the places</p>
            <h3>FILTER BY:</h3>
            <div class="portfolio-tab portfolioFilter">
                <ul>
                    <li><a href="#" data-filter="*" class="active">ALL</a>
                    </li>
                    <li><a href="#" data-filter=".landscape">landscape</a>
                    </li>
                    <li><a href="#" data-filter=".green">Green</a>
                    </li>
                    <li><a href="#" data-filter=".building">Building</a>
                    </li>
                    
                    <li><a href="#" data-filter=".nature">Nature</a>
                    </li>
                    <li><a href="#" data-filter=".landscape">landscape</a>
                    </li>
                    <li><a href="#" data-filter=".green">Green</a>
                    </li>
                    <li><a href="#" data-filter=".building">Building</a>
                    </li>
                    
                    <li><a href="#" data-filter=".nature">Nature</a>
                    </li>
                    <li><a href="#" data-filter=".landscape">landscape</a>
                    </li>
                    <li><a href="#" data-filter=".green">Green</a>
                    </li>
                    <li><a href="#" data-filter=".building">Building</a>
                    </li>
                    
                    <li><a href="#" data-filter=".nature">Nature</a>
                    </li>
                    <li><a href="#" data-filter=".landscape">landscape</a>
                    </li>
                    <li><a href="#" data-filter=".green">Green</a>
                    </li>
                    <li><a href="#" data-filter=".building">Building</a>
                    </li>
                </ul>
            </div>

            <div class="row">

                <div class="portfolioContainer">

                    <div class="gallary building nature">
                        <img src="{% static 'images/img (8).jpg' %}" alt="">
                    </div>
                    


                    <div class="gallary center-img wedding">    
                        <img src="{% static 'images/img (4).jpg' %}" class="half-height" alt="">
                        

                    </div>

                    <div class="gallary building">

                        <img src="{% static 'images/img (13).jpg' %}" alt="">  
                    
                    </div>

                    <div class="gallary center-img  nature">   
                        <img src="{% static 'images/img (22).jpg' %}" class="half-height" alt="">
                                                    
                    </div>   

                    <div class="gallary">
                        <img src="{% static 'images/img (21).jpg' %}" alt="">  
                        
                    </div>

                    <div class="gallary center-img landscape nature">
                        <img src="{% static 'images/img (16).jpg' %}" alt="">  
                        
                    </div>


                    <div class="gallary building nature">
                        <img src="{% static 'images/img (9).jpg' %}" alt="">  
                        
                    </div>

                    <div class="gallary building nature">
                        <img src="{% static 'images/img (10).jpg' %}" alt="">  
                        
                    </div>

                </div>
            </div>

            <div class="row portfolioFilter">
                <ul class="indicators">
                    <li><a href="#" data-filter=".landscape" class="active"></a>
                    </li>
                    <li><a href="#" data-filter=".green"></a>
                    </li>
                    <li><a href="#" data-filter=".building"></a>
                    </li>
                    <li><a href="#" data-filter=".wedding"></a>
                    </li>
                    <li><a href="#" data-filter=".nature"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container-fluid fh5co-news" id="news">
        <div class="container">
            <h2>SHARING MY EXPERIENCE</h2>
            <div class="row">
                <div class="owl-carousel owl-carousel2 owl-theme">
                    <div>
                        <div class="card text-center"> <img class="card-img-top" src="{% static 'images/groups.jpg' %}" alt=""> 
                            <div class="card-body text-left pr-0 pl-0">
                                <h5>How to take a Awosome photo Of
                                    Groups! </h5>
                                <p class="card-text">Be confident. Organizing a group portrait can be nerve-wracking.Arrange people in a staggered formation.Keep the group close together.Make sure people's faces aren't covered.Be strategic about lighting.Shoot a sequence of photos.Let your subjects have fun</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="card text-center"> <img class="card-img-top" src="{% static 'images/lowlight.jpg' %}" alt=""> 
                            <div class="card-body text-left pr-0 pl-0">
                                <h5>How to take a Awosome photo in Low lght
                                    Condition! </h5>
                                <p class="card-text">Crank up the ISO.Use a larger aperture.Slow down the shutter speed.If you do have to use a flash, try to avoid the on-camera pop-up.Use your camera’s exposure compensation capabilities.</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="card text-center"> <img class="card-img-top" src="{% static 'images/portrait.jpg' %}" alt=""> 
                            <div class="card-body text-left pr-0 pl-0">
                                <h5>How to take a Awosome photo in Portrait Mode! </h5>
                                <p class="card-text">Focus on the subject.Find the right location.Getting the pose right.Take candid shots.Capture emotions and expression.Learn how to use your camera.Choosing the right lens.The background matters.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid fh5co-footer">
        <div class="container" id="contact">
            <div class="row">
                <div class="col-lg-5">
                    <h2>CONTACT ME NOW</h2>
                    <p class="light">
                        If you are looking for a Photographer in Dubai
                    </p>
                    <p>
                        <span class="email"><img src="{% static 'images/email.png' %}" 
                                alt="email icon" /></span><b>jishinnmon@gmail.com</b>
                    </p>
                    <p> 
                        <span class="phone"><img src="{% static 'images/phone.png' %}" alt="phone icon" /></span><b>(971)52 348 2548</b>
                    </p>
                    <h3>my social links</h3>
                    <ul class="navbar-nav float-left social-links footer-social">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/fh5co"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://twitter.com/fh5co"><i class="fab fa-instagram"></i></a>
                        </li>
                        

                    </ul>
                </div>

                <div class="col-lg-7">
                    <div class="form-box">
                        <h4>Due to security reason contact form is inactive</h4>
                        <p>Please send me email or follow me on social media</p>
                        <hr />
                        <table class="table table-light table-borderless">
                            <tr>
                                <td><input type="text" class="form-control" placeholder="Name...">
                                </td>

                                <td><input type="text" class="form-control" placeholder="Email address">
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2"><textarea class="form-control" placeholder="You Message"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit">
                                        SUBMIT NOW
                                    </button>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </footer>
    <div class="container-fluid copy">
        <div class="col-lg-12">
            <p>&copy; 2018 Photogenic. All rights Reserved. Design by <a href="https://freehtml5.co" target="_blank">FreeHTML5.co</a>.</p>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'owl-carousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/isotope-docs.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>

</html>